#selection-popover {
    border: solid 1px #C5C5C5;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px #D4D4D4;
}

.circle {
    width: 18px;
    height: 18px;

    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.circle-red {
    background: #FECAD7;
    border: 1px solid #F1C0CC;
}

.circle-green {
    background: #D2FD6C;
    border: 1px solid #C8F066;
}

.circle-yellow {
    background: #FEDD78;
    border: 1px solid #F1D271;
}

.circle-more {
    background: wheat;
}
